* {
  margin: 0;
  padding: 0;
}
@width: 80%;
body {
  background: #1c1c1c;
  font-family: "SourceHanSansCN-Bold";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  box-sizing: border-box;
  width: 100%;
  height: 83px;
  background: #1b1b1b;
  border-bottom: 2px solid #2a2a2a;
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: @width;
    margin: 0 auto;
    .logo {
      color: #cacaca;
      font-size: 20px;
      font-weight: 600;
    }
    .nav {
      ul {
        display: flex;
        li {
          margin-left: 10px;
          a {
            color: #fff;
            border-radius: 5px;
            padding: 10px 20px;
            transition: all 0.6s;
            &:hover {
              background-color: #ff6b00;
            }
          }
        }
      }
    }
  }
}
.section1 {
  width: @width;
  margin: 40px auto;
  display: flex;
  flex-direction: row;

  > .describe {
    width: 60%;
    h2 {
      font-size: 60px;
      color: #fff;
      margin-bottom: 40px;
    }
    p {
      color: #cacaca;
      font-size: 18px;
      margin-bottom: 100px;
    }
    a {
      color: #fff;
      border-radius: 5px;
      padding: 10px 20px;
      transition: all 0.6s;
      background-color: #ff6b00;
    }
  }
  .img {
    flex: 1;
    img {
      width: 100%;
    }
  }
}
.section2 {
  width: @width;
  margin: 20px auto;
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h2 {
      color: #fff;
      font-size: 72px;
    }
    .line {
      width: 80px;
      height: 8px;
      background: #ff6b00;
      margin: 20px 0px;
    }
    p {
      height: 58px;
      font-size: 20px;
      font-family: SourceHanSansCN-Normal, SourceHanSansCN;
      font-weight: 400;
      color: #fefefe;
      line-height: 36px;
    }
  }
  .section2-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    > .item {
      position: relative;
      margin-top: 20px;
      width: 48%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        position: relative;
        z-index: 1;
      }
      .item-title {
        width: 100%;
        text-indent: 0em;
        position: relative;
        z-index: 1;
        font-size: 30px;
        font-family: "SourceHanSansCN-Bold, SourceHanSansCN";
        font-weight: bold;
        color: #ffffff;
        line-height: 79px;
      }
      .item-title1 {
        &::before {
          z-index: 0;
          position: absolute;
          content: "";
          width: 40px;
          top: -10px;
          left: 450px;
          height: 40px;
          background: url(../images/title-r.png) no-repeat center;
        }
      }
      .item-title2 {
        &::before {
          z-index: 0;
          position: absolute;
          content: "";
          width: 40px;
          top: -10px;
          left: -39px;
          height: 40px;
          background: url(../images/title-left.png) no-repeat center;
        }
      }
      > p {
        width: 100%;
        font-family: "SourceHanSansCN-Bold, SourceHanSansCN";
        font-size: 18px;
        font-weight: 400;
        color: #fefefe;
        line-height: 36px;
      }
    }
    .item1 {
      &::before {
        content: "";
        position: absolute;
        width: 181px;
        height: 200px;
        left: -14px;
        top: -40px;
        z-index: 0;

        background: #db5c00;
      }
    }
    .item2 {
      &::after {
        content: "";
        position: absolute;
        width: 181px;
        height: 200px;
        right: -14px;
        bottom: -40px;
        z-index: 0;
        background: #db5c00;
      }
    }
  }
}

.section3 {
  width: @width;
  margin: 20px auto;
  > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h2 {
      color: #fff;
      font-size: 72px;
    }
    .line {
      width: 80px;
      height: 8px;
      background: #ff6b00;
      margin: 20px 0px;
    }
    p {
      font-size: 20px;
      font-family: "SourceHanSansCN-Normal, SourceHanSansCN";
      font-weight: 400;
      color: #fefefe;
      line-height: 36px;
      width: 800px;
      text-align: center;
    }
  }
  .section3-content {
    margin-top: 80px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    .list {
      position: relative;
      .title {
        color: #fff;
        display: flex;
        font-size: 18px;
        font-family: "SourceHanSerifCN-Regular, SourceHanSerifCN";
        color: #c4c4c4;
        line-height: 40px;
        white-space: nowrap;
        span {
          height: 20px;
          font-size: 27px;
          font-weight: 400;
          color: #ffffff;
          margin-right: 10px;
        }
      }
      .title1 {
        position: relative;
        left: 40px;
      }
      .line_c {
        position: absolute;
        left: 100px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        .round {
          width: 45px;
          height: 45px;
          // margin-right: 20px;
          border-radius: 50%;
          background-color: #fff;
        }
        .g {
          background-color: #99c08d;
        }
        .o {
          background-color: #da7d2b;
        }
        .line {
          margin: 0px 20px;
          width: 100px;
          height: 2px;
        }
      }
    }
  }
}
.section4 {
  width: @width;
  margin: 100px auto;
  > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h2 {
      color: #fff;
      font-size: 72px;
    }
    .line {
      width: 80px;
      height: 8px;
      background: #ff6b00;
      margin: 20px 0px;
    }
    p {
      height: 58px;
      font-size: 20px;
      font-family: SourceHanSansCN-Normal, SourceHanSansCN;
      font-weight: 400;
      color: #fefefe;
      line-height: 36px;
      width: 800px;
      text-align: center;
    }
  }
  .section4-content {
    display: flex;
    margin: 50px 0px;
    flex-direction: row;
    justify-content: space-between;
    > div {
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "SourceHanSansCN-Bold, SourceHanSansCN";
      .dec-title {
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
        line-height: 93px;
        margin-bottom: 20px;
      }
      p {
        margin-top: 70px;
        font-size: 18px;
        font-weight: 400;
        color: #fefefe;
        line-height: 36px;
      }
      img {
        width: 100%;
      }
    }
  }
}
.section5 {
  width: @width;
  margin: 100px auto;
  > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h2 {
      color: #fff;
      font-size: 72px;
    }
    .line {
      width: 80px;
      height: 8px;
      background: #ff6b00;
      margin: 20px 0px;
    }
    p {
      height: 58px;
      font-size: 20px;
      font-family: SourceHanSansCN-Normal, SourceHanSansCN;
      font-weight: 400;
      color: #fefefe;
      line-height: 36px;
      width: 800px;
      text-align: center;
    }
  }
  .serction5-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    .section5-item {
      border-radius: 4px;
      box-sizing: border-box;
      padding: 40px 20px;
      color: #fff;
      transition: all 0.6s;
      font-family: "SourceHanSansCN-Bold, SourceHanSansCN";
      .item-title {
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        line-height: 93px;
      }
      > p {
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
      }
      &:hover {
        color: #000;
        background: #ff6b00;
        border: 1px solid #ff6b00;
      }
      &:nth-child(1) {
        border: 1px solid #ff6b00;
      }
      &:nth-child(2) {
        border: 1px solid #1265e2;
      }
      &:nth-child(3) {
        border: 1px solid #de4dbe;
      }
    }
  }
}
.section6 {
  width: @width;
  margin: 100px auto;
  .section6-title {
    height: 35px;
    font-size: 40px;
    font-family: "SourceHanSansCN-Bold, SourceHanSansCN";
    font-weight: bold;
    color: #ffffff;
    line-height: 93px;
  }
  p {
    font-size: 16px;
    color: #cacaca;
    margin: 100px 0px;
  }
  .my_btn {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 307px;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    font-size: 18px;
    background: #ff6b00;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
  }
}
@media screen and (max-width: 1400px) {
  .section3 {
    width: @width;
    > .title {
      > h2 {
        font-size: 65px;
      }
      .line {
        width: 80px;
        height: 8px;
        background: #ff6b00;
        margin: 20px 0px;
      }
      p {
        font-size: 20px;
        font-family: "SourceHanSansCN-Normal, SourceHanSansCN";
        font-weight: 400;
        color: #fefefe;
        line-height: 36px;
        width: 800px;
        text-align: center;
      }
    }
    .section3-content {
      grid-template-columns: repeat(3, 1fr);
      .list {
        position: relative;
        .title {
          position: relative;
          left: 20px;
        }

        .line_c {
          position: relative;
          left: 100px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          .round {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #fff;
          }
          .g {
            background-color: #99c08d;
          }
          .o {
            background-color: #da7d2b;
          }
          .line {
            margin: 0px 10px;
            width: 100px;
            height: 2px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .header-content {
      box-sizing: border-box;
      padding: 0px 10px;
      width: 100%;
      .logo {
        color: #cacaca;
        font-size: 20px;
      }
    }
  }

  .section1 {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
    > .describe {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  .section2 {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin: 20px auto;
    .title {
      > h2 {
        font-size: 52px;
      }
      .line {
        width: 60px;
        height: 6px;
      }
      p {
        font-family: "SourceHanSansCN-Normal, SourceHanSansCN";
      }
    }
    .section2-content {
      margin-top: 50px;
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      > .item {
        position: relative;
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item-title {
          position: relative;
          z-index: 1;
          width: 100%;
          font-size: 35px;
          font-family: "SourceHanSansCN-Bold, SourceHanSansCN";
          font-weight: bold;
          color: #ffffff;
          line-height: 79px;
        }
        .item-title1 {
          &::before {
            z-index: 0;
            position: absolute;
            content: "";
            width: 40px;
            top: -10px;
            left: 280px;
            height: 40px;
            background: url(../images/title-r.png) no-repeat center;
          }
        }
        .item-title2 {
          &::before {
            z-index: 0;
            position: absolute;
            content: "";
            width: 40px;
            top: -10px;
            left: -39px;
            height: 40px;
            background: url(../images/title-left.png) no-repeat center;
          }
        }
        > p {
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          color: #fefefe;
          line-height: 30px;
        }
      }
      .item1 {
        &::before {
          content: "";
          position: absolute;
          width: 181px;
          height: 200px;
          left: -14px;
          top: -40px;
          z-index: 0;

          background: #db5c00;
        }
      }
      .item2 {
        &::after {
          content: "";
          position: absolute;
          width: 181px;
          height: 200px;
          right: -14px;
          bottom: -40px;
          z-index: 0;
          background: #db5c00;
        }
      }
    }
  }

  .section3 {
    width: 100%;
    > .title {
      > h2 {
        font-size: 50px;
      }
      .line {
        width: 60px;
        height: 6px;
      }
      p {
        width: 100%;
      }
    }
    .section3-content {
      box-sizing: border-box;
      padding: 10px;
      grid-template-columns: repeat(3, 1fr);
      .list {
        .title {
          color: #fff;
          font-size: 12px;
          span {
            height: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            margin-right: 10px;
          }
        }
        .line_c {
          position: relative;
          left: 0px;
        }
      }
    }
  }
  .section4 {
    width: 100%;
    margin: 100px auto;
    > .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > h2 {
        font-size: 62px;
        line-height: 40px;
      }
      .line {
        width: 60px;
        height: 6px;
      }
      p {
        font-size: 18px;
        margin-top: 100px;
        width: 100%;
      }
    }
    .section4-content {
      box-sizing: border-box;
      padding: 10px;
      margin: 50px 0px;
      flex-direction: column;
      > div {
        width: 100%;
        .dec-title {
          font-size: 20px;
        }
        p {
          margin-top: 100px;
          font-size: 18px;
        }
      }
    }
  }
  .section5 {
    width: 100%;
    margin: 100px auto;
    > .title {
      > h2 {
        color: #fff;
        font-size: 52px;
      }
      .line {
        width: 60px;
        height: 6px;
      }
      p {
        font-size: 18px;
        width: 100%;
      }
    }
    .serction5-content {
      gap: 20px;
      box-sizing: border-box;
      padding: 20px;
      .section5-item {
        .item-title {
          font-size: 30px;
          line-height: 73px;
        }
        > p {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .header {
    box-sizing: border-box;
    width: 100%;
    height: 83px;
    background: #1b1b1b;
    border-bottom: 2px solid #2a2a2a;
    .header-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      .logo {
        color: #cacaca;
        font-size: 12px;
        display: none;
      }
      .nav {
        ul {
          display: flex;
          li {
            margin-left: 8px;
            a {
              font-size: 12px;
              border-radius: 5px;
              padding: 8px 10px;
              transition: all 0.6s;
              &:hover {
                background-color: #ff6b00;
              }
            }

            .active {
              background-color: #ff6b00;
            }
          }
        }
      }
    }
  }
  .section1 {
    width: @width;
    flex-direction: column;
    > .describe {
      width: 100%;
      margin-bottom: 20px;
      h2 {
        font-size: 40px;
        color: #fff;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        margin-bottom: 50px;
      }
      a {
        color: #fff;
        border-radius: 5px;
        padding: 8px 17px;
        transition: all 0.6s;
        background-color: #ff6b00;
      }
    }
    .img {
      width: 100%;
    }
  }
  .section2 {
    .title {
      > h2 {
        font-size: 30px;
      }
      .line {
        width: 40px;
        height: 6px;
      }
      p {
        margin-bottom: 80px;
        font-size: 14px;
      }
    }
    .section2-content {
      flex-direction: column;
      > .item {
        width: 100%;

        p {
          font-size: 14px;
        }
      }
    }
  }
  .section3 {
    width: 100%;
    > .title {
      > h2 {
        font-size: 50px;
      }
      .line {
        width: 60px;
        height: 6px;
      }
      p {
        width: 100%;
      }
    }
    .section3-content {
      box-sizing: border-box;
      padding: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .section4 {
    width: @width;
    margin: 100px auto;
    > .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > h2 {
        font-size: 42px;
      }
      .line {
        width: 60px;
        height: 6px;
      }
      p {
        font-size: 16px;
        width: 100%;
      }
    }
    .section4-content {
      > div {
        .dec-title {
          margin: 50px 0px;
          line-height: 30px;
          font-size: 26px;
        }
        p {
          margin-top: 10px;
          font-size: 16px;
        }
      }
    }
  }
  .section5 {
    width: 100%;
    margin: 100px auto;
    > .title {
      > h2 {
        color: #fff;
        font-size: 22px;
      }
      .line {
        width: 60px;
        height: 6px;
      }
      p {
        font-size: 12px;
        width: 100%;
      }
    }
    .serction5-content {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      .section5-item {
        .item-title {
          font-size: 30px;
          line-height: 73px;
        }
        > p {
          font-size: 14px;
        }
      }
    }
  }
}
@height: 400px;
.model {
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  bottom: -@height;
 z-index: 99999;
  left: 0px;
  background-color: #535353;
  width: 100%;
  height: @height;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  .model-title {
    margin-top: 80px;
  }
  .dsc {
    line-height: 35px;
    text-align: center;
    margin: 20px 0px;
  }
  .will {
    font-size: 12px;
    color: #c4c4c4;
  }
  .btns {
    // background-color: #1265e2;
    width: 368px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    span {
      width: 40%;
      line-height: 30px;
      border-radius: 4px;
      text-align: center;
      border: 1px solid #ccc;
      transition: all 0.6s;
      &:hover {
        background-color: #db5c00;
      }
    }
  }
}
